<div id="footer">  
  <div class="footer">
    Leonard Gelfand Center for Service Learning and Outreach &copy; 2014<br />
  	<a href="/">Home</a>  ::  
  	<a href="#">About</a> ::
  	<a href="/mailers">Contact</a>
  </div>
</div>