<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Trusted Tartans</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul id="nav-bar-right-login" class="right">
  		<%= form_for(User.new, :url => user_session_path) do |f| %>
    			<li class=""><%= f.email_field :email, :id => 'email', :placeholder => 'email' %></li>
    			<li class=""><%= f.password_field :password, :id => 'password', :placeholder => 'password' %></li>
          <li class=""><%= f.submit 'Login', :class => 'button' %></li>
    	<% end %>
    </ul>
  </section>
</nav>