<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Awesome Name</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>


<div class="row" data-equalizer>

	<% if (current_user != nil) && current_user.admin? %>
		<%= render 'home_for_admin' %>
	<% elsif (current_user != nil) && current_user.member? %>
		<h3> Welcome back to the Gelfand Center! </h3>
		Here you can:	<br>
			- track your background check <br>
			- create/manage your organization <br>
			- add individuals to your organization <br>
	<% else %>
		<h3> Welcome to the Gelfand Center! </h3>
	<% end %>

</div>



