<div class="row">
	<div id="alerts" class="row">
		<div data-alert class="alert-box slow-fade radius">
			<%= flash[:notice] %>
			<%= flash[:error] %>
			<%= flash[:alert] %>
			<a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">
	<h1>Restricted Access!</h1>
</div>

<div class="row">
	<p>Sorry, something went wrong! It seems you don't have access to this page. Feel free to navigate back or go <%= link_to "Home", "/" %></p>
</div>