<div class="row">
	<h1>Restricted Access!</h1>
</div>

<div class="row">
	<p>Sorry, something went wrong! It seems you don't have access to this page. Feel free to navigate back or go <%= link_to "home", "/" %>.</p>
</div>