<h4>Your Background Check is Expiring</h4>

<p>Clearances typically only last for 3 years, so if you want to continue working with minors through Carnegie Mellon, you will be required to get another round of clearances soon. If you are seeing this message, it means one of your clearances is within 60 days of expiring. In order to re-start the clearance process, please <a href="/mailers">Contact a Gelfand Center Representative</a>.</p>