<h4>Your Background Check has Expired</h4>

<p>Clearances typically only last for 3 years, so if you want to continue working with minors through Carnegie Mellon, you will be required to get another round of clearances. In order to re-start the clearance process, please <a href="/mailers">Contact a Gelfand Center Representative</a>.</p>