<h4>It like there are some issues with your background check</h4>

<p>Please refer to the list above to see what the issues are, and what you can do to resolve them.</p>

<p>Feel free to <a href="/mailers">Contact Us</a> for further details.</p>