<h4>You still have clearances remaining</h4>

<p>In order to be cleared to work with minors, you must have 3 clearances: A Pennsylvania Criminal Background Check Clearance, A Pennsylvania Child Abuse Registry Clearance, and An FBI Background Check Clearance.</p>

<p>For help with any of these, please feel free to <a href="/mailers">Contact Us</a> with any questions.</p>