<h4>All Done!</h4>

<p>Your background is in the mail, or you have picked it up from our office.</p>

<strong>A few last notes:</strong>

<p>Do not lose your background check certificate. Many partner organizations require the original copy and will not accept photocopies. If you lose your original copy, you will need to pay for a new background check to be performed.</p>

<p>Your background check is valid for 3 years following the approval of your child abuse clearance. Once your background check expires you will need to complete the process again.<br></p>

<p><strong>Background Check Expiration Date: <%= @bg_check.child_abuse_date%></strong></p>