
<div class="row">
    <div class="small-12 small-centered columns">
        <h1>Update <%= @bg_check.humanize_name %>'s Background Check</h1>
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <p>Background check created on: <%= @bg_check.date_requested.strftime("%m/%d/%Y") %></p>
    </div>
</div>
<%= render 'form' %>


