<div class="row">
  <div class="row">
    <h1>Background Checks</h1>
  </div>
  <br />
  <div class="row">
      <%= form_tag bg_checks_path, :method => 'get', :id => "bg_checks_search" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "button" %>
      <% end %>
  </div>
 
<div id="bg_checks">
    <%= render 'bg_checks' %>
</div>

</div>