
<div class="row">
  <div class="small-4 columns">&nbsp;</div>
  <div class="small-4 columns">

	<h2>Sign in</h2>
	<br>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>

	  <%= f.password_field :password, :placeholder => "Password" %>

	  <br>

	 <class="test" style="position:absolute;right:10px;"> 	<%= f.submit "Sign in", :class => "button"%>
	<% end %>

  </div>
  <div class="small-4 columns">&nbsp;</div>
</div>

