
<div class="row" data-equalizer>
  <div class="small-2 columns" data-equalizer-watch>
  </div>

  <div class="small-8 columns" data-equalizer-watch>
		<h1>Editing: <%= @organization.name %> </h1>
		
		<div class="org_form">
			<%= render 'form' %>
		</div>

		<br>

		<div class="orgs_actions">
			<%= link_to 'Back', @organization %> |
			<%= link_to 'My orgs', organizations_path %>
		</div>
	</div>
  <div class="small-2 columns" data-equalizer-watch>
  </div>

</div>