<div class="row" data-equalizer>
  <div class="small-10 small-centered columns" data-equalizer-watch>
		<h1>Manage <%= @organization.name %> </h1>
		
		<h3>General Info</h3>

		<div class="org_form">
			<%= render 'form' %>
		</div>

		<br />

		<!-- add member -->
		<h5>Add them by Email</h5>
	                      

    <!-- -->
	</div>

</div>