<br>
<div class="row">
      <div class="small-12 columns">
            <% if @organization.errors.any? %>
	            <% @organization.errors.full_messages.each do |msg| %>
	                <div data-alert="" class="alert-box alert round">
	                    <%= msg %>
	                    <a href="" class="close">×</a>
	                </div>
	            <% end %>
	        <% end %>
    </div>
</div>

<div class="row" data-equalizer>
  <div class="small-12 small-centered columns" data-equalizer-watch>
		<h1>Manage <%= @organization.name %> </h1>
		<br>

			<%= render 'form' %>

		<br />

	</div>

</div>