<div class="row" data-equalizer>
  <div class="small-12 small-centered columns" data-equalizer-watch>
		<h1>Manage <%= @organization.name %> </h1>
		<br>

			<%= render 'form' %>

		<br />

	</div>

</div>