
<div class="row" data-equalizer>
      <div class="small-12 small-centered columns" data-equalizer-watch>
    		<h1>Create an Organization</h1>
   
          		<%= render 'form' %>
      </div>
</div>