
<div class="row" data-equalizer>
      <div class="small-2 columns" data-equalizer-watch>
        <br>
      </div>


      <div class="small-8 columns" data-equalizer-watch>
    		<h1>Create an Organization</h1>
   
          		<%= render 'form' %>
      </div>

      <div class="small-2 columns" data-equalizer-watch>
      </div>
</div>