<div class="row" data-equalizer>
  <div class="small-12 small-centered columns" data-equalizer-watch>

    <h1>  <%= @organization.name %></h1>


    <strong>Description:</strong>
    <%= @organization.description %>

    <br>

    <strong>Is partner:</strong>
    <%= @organization.is_partner ? "Yes" : "No"%>
    <br>
    <strong>Org Heads:</strong>
    <%= @organization.users.sample.individual.name %>
    <br>
    <br>

  </div>
</div>